.error {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 0.5rem;
	font-size: 0.7rem;
	color: red;
	text-shadow: 1px 1px 1px black;
}

.error img {
	width: 15px;
	color: red;
	fill: red;
}
